@import "./lib/css/bulma.css";

:root {
  --primary_color: #212834;
  --secondary_color: #048bc2;
  --tertiary_color: #979494;
  --tertiary_color_hover: white;
}
.navbar {
  background-color: var(--primary_color);
}

.logo {
  color: var(--tertiary_color);
  font-size: larger;
  font-weight: 500;
}

.logo:hover {
  color: var(--tertiary_color_hover) !important;
}

a.navbar-menu-item {
  color: var(--tertiary_color) !important;
}

a.navbar-menu-item:hover {
  color: var(--tertiary_color_hover) !important;
  cursor: pointer;
  background-color: black !important;
}

.footer {
  background-color: var(--primary_color);
  color: var(--tertiary_color_hover);
  padding: 5px;
}

a.icon {
  color: white;
}

.is-justify {
  text-align: justify;
}
